%h3{ :style => "color: white;"} How to play Hangman v1.0:
%p{ :style => "color: white;"} You will be given a random phrase
displayed with blank lines. Guess a letter with each turn and
the phrase will be filled in. You may guess the whole phrase
at any time and that will count as a guess. See if you can
fill in the entire phrase within seven guesses.
