!!! XHTML
!!!
%html
 %head
  %title Hangman Alpha
 %body.content{ :style => "background-color: black;"}
  %div.header{ :style => "float: left;" }
   %img.images{ :style => "margin: 25px;"}(src="https://lh5.ggpht.com/39SKfEFi40VjVE5s6Uofw1rl2j8QVXrvFn80EnUaQvlqjz9XxGMVPVTsNk36bykR_Tvv=w170")
  %div.game{ :style => "float: relative; font-family: 'arial', 'san-serif'; font-size: 14px; color: white;"}
   %h1{ :style => "padding-top: 30px;" } Hangman v1.0
  %div.buttons
   %button New Game
   %button Scores
